
@{
    ViewData["Title"] = "AddArtwork";
}


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12">
            <div class="login-content">
                <form role="form" method="post" enctype="multipart/form-data">
                    @*Image*@
                    <div class="myArtworkImg">
                        <div class="hex col-sm-6">
                            <div>
                                <div class="hexagon hexagon2 gallery-item">
                                    <div class="hexagon-in1">
                                        <div class="hexagon-in2" id="aImg1"
                                             style="
    background-image: url(../../Content/Images/emptyTuval.jpg);
        ">
                                            <div class="overlay">
                                                <div id="myLink">
                                                    <a id="aImg2" href="../../Content/Images/emptyTuval.jpg" data-rel="lightbox" class="fa fa-expand"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*Image*@
                    <div class="templatemo_form">
                        <label class="myLabel">*Eseriniz</label>
                        <input name="Image" id="imageFile" type="file" class="form-control" onchange="UpdateImg()" onclick="ClearAlert()">
                    </div>
                    <div class="templatemo_form">
                        <label class="myLabel">*Eserin Adı</label>
                        <input id="Name" type="text" class="form-control" placeholder="*Eserin Adı" onclick="ClearAlert()">
                    </div>
                    <div class="templatemo_form">
                        <label class="myLabel">Açıklama</label>
                        <input id="Description" type="text" class="form-control" placeholder="Açıklama" onclick="ClearAlert()">
                    </div>

                </form>
                <div class="eBtnZemin">
                    <div class="eBtnBody">
                        <button id="btnAdd" class="eBtn eBtnBack">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Ekle
                        </button>
                    </div>
                </div>
                <div id="alert">
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            GetLightBox()
        })
        function UpdateImg() {
            var resim = document.getElementById("imageFile");
            var image1 = document.getElementById("aImg1");
            var image2 = document.getElementById("aImg2");
            if (resim.files && resim.files[0]) {
                var veri = new FileReader();//veri okuma apisi başlatıyoruz.

                veri.onload = function () {//altta readAsDataURL verileri okuyoruz.O okuma tamamladığın da

                    var adres = veri.result;//veriyi al
                    //$("#pImg").attr("src", adres)
                    image1.style.backgroundImage = "url('" + adres + "')";//background
                    image2.href = adres
                }
                veri.readAsDataURL(resim.files[0]);//veri okuma
            }
        }
        $("#btnAdd").click(function () {
            var formData = new FormData();            
            formData.append('file', $('#imageFile')[0].files[0])
            $.ajax({
                type: "POST",
                url: "AddImage",
                data: formData,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (response) {
                    var veri = {
                        Name: $("#Name").val(),
                        Description: $("#Description").val(),
                        Url: response.veriUrl,
                        UserId: response.userId
                    }                    
                    $.ajax({
                        type: "POST",
                        url: "http://localhost:59959/api/Artwork/AddArtwork",
                        data: JSON.stringify(veri),
                        contentType: "application/json; charset=UTF-8",
                        success: function (result) {
                            if (result.check == true) {
                                $("#alert").html("<div class='alert alert-success' role='alert'>" + result.message + "</div>")
                            } else {
                                $("#alert").html("<div class='alert alert-danger' role='alert'>" + result.message + "</div>")
                            }
                            $("#imageFile").val("")
                            $("#Name").val("")
                            $("#Description").val("")
                            var image1 = document.getElementById("aImg1");
                            var image2 = document.getElementById("aImg2");
                            image1.style.backgroundImage = "url('../../Content/images/emptyTuval.jpg')";//background
                            image2.href = "../../Content/images/emptyTuval.jpg"
                        }
                    })
                }
            })            

        })
        function ClearAlert() {
            $("#alert").html("")
        }
    </script>
}

