
@{
    ViewData["Title"] = "ResetPassword";
}

<div class="container">
    <div class="atomMain" id="yukleniyor">
        <div class="atomBody">
            <main class="loadingMain">
                <div class="atom">
                    <div class="electron"></div>
                    <div class="electron-alpha"></div>
                    <div class="electron-omega"></div>
                </div>
            </main>
        </div>
    </div>
    <div class="row" id="site">
        <div class="col-md-6 col-md-offset-3 col-sm-12">
            <div class="login-content">
                <form role="form">
                    <div class="templatemo_form">
                        <label class="myLabel">Yeni Şifreniz</label>
                        <input id="Password" type="password" class="form-control">
                    </div>
                </form>
                <div class="eBtnZemin">
                    <div class="eBtnBody">
                        <button type="submit" class="eBtn eBtnBack" onclick="ChangePassword()">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Şifreyi Değiştir
                        </button>
                    </div>
                </div>
                <div id="alert"></div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#yukleniyor').hide()
        })

        function ChangePassword() {
            var uid =@ViewContext.RouteData.Values["id"];
            var pwd = $("#Password").val()
            $('#site').hide()
            $('#yukleniyor').show()
            $.ajax({
                url: "http://localhost:59959/api/User/ChangePassword?id=" + uid + "&pwd=" + pwd,
                type: "GET",
                success: function (response) {
                    if (response.check == true) {
                        $("#alert").html("<div class='alert alert-success' role='alert'>" + response.message + "</div>")
                        alert("Şifre değiştirildi.")
                        window.location = "http://localhost:51680/Account/login"
                    } else {
                        $("#alert").html("<div class='alert alert-danger' role='alert'>" + response.message + "</div>")
                        $('#site').show()
                        $('#yukleniyor').hide()
                    }
                }
            })
        }
    </script>
}
